CustomListView/Web References/au.edu.wa.central.mydesign.student/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ListAlarmsResult">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CheckPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmTime" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmActive" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="alarmReminder" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="days" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNewAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AddNewAlarmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="alarmID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmTime" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmActive" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="alarmReminder" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="days" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateAlarmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="alarmID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="alarmState" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ToggleAlarmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="alarmID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeleteAlarmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>